.profile-image {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: auto;
	margin-top: 20px;
}

.card-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.card-title {
	font-family: 'Bebas Neue';
	font-size: 30px;
}
