
* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
  }
  ul {
    list-style: none;
   }
   @font-face{
    font-family: 'Bebas Neue';
    src: url(font/BEBASNEUE.otf);
    font-style:normal;
    font-weight: 100;
          }
   body{
    background:#251D33;
   }
   #header{
       width: 100%;
       height:60vh;
       margin-top: 10px;
      padding: 10px;
   }
   .logo{
       margin: 20px 10px 10px 40px;
       cursor: pointer;
   }
   .logo img
   {
       width:50px ;
       height: auto;
   }
   
h1,h2,h3,h4 {
    color: #fff;
    font-family: 'Bebas Neue';
    src: url(font/BEBASNEUE.otf);
    }
a {
    color: #fff;
    text-decoration: none;
  }
  .titles{
      display: flex;
  }
  .titles ul{
      
  position: absolute;
    margin-top: 20px;
    left: 50%;
  }
  .titles ul li{
      margin: 0 auto;
      display: inline-block;
  }
  .titles ul li a{
      
  font-family: 'Bebas Neue';
  src: url(font/BEBASNEUE.otf);
  font-size: 25px;
  margin-left: 40px;
  margin-right: 40px;
  }
  
#header{
    display: flex;
}
.circle{
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    width: 25px;
    height: 25px;   
}
.mainlogo{
display: block;
margin: auto;
width: 100%;

}
.mainlogo img{  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: -1;
}
#sec-2{
width: 100%;
}
.tagline{
    margin-top: 20px;
}
.tagline h1{
    font-size: 55px;
    text-align: center;
}
.tagline img{position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.boxes{
    display: flex;
    margin-top: 400px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.box-1
{
    display: inline-block;
    width: 40%;
    height: 500px;
    background-color:#F4E08E ;
    margin-right: 120px;
}

.box-2
{
    display: inline-block;
    width: 40%;
    height: 500px;
    background-color:#F4E08E ;
    margin-left: 120px;
}
.ntext{
    margin-top: 50px;
font-size: 50px;
text-align: center;
}
.mtext{
    font-size: 150px;
    text-align: center;
}

.boxes button{
    border: none;
    text-align: center;
width: 70%;
height: 30%;
background-color: white;
font-size: 100px;
font-family: 'Bebas Neue';
src: url(font/BEBASNEUE.otf);
color: #251D33;
}
.slider{
    
    margin-top: 50px;
}
.bg{
    background-image: url('images/backimg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 300px;
}
.bg h1{
color: #251D33;
text-align: center;
font-size: 120px;
}
.help h1{
    margin-top: 50px;
    font-size: 100px;
    text-align: center;
}
.boxes2{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.box-3
{
    display: inline-block;
    width: 40%;
    height: 500px;
    background-color: white ;
    margin-right: 120px;
}

.box-4
{
    display: inline-block;
    width: 40%;
    height: 500px;
    background-color: white ;
    margin-left: 120px;
}
.footer{
    background-color: #555555;
    height: 200px;

}
.footer img{
    width: 400px;
    height: auto;
}
.ftext {
    text-align: center;
    color: white;
}
.fbox{
    display: flex;
}
.fbox h2{
    font-size: 40px;
margin: 0px auto;
margin-top: 50px;
text-align: center;
}